* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  font-family: "inter", sans-serif;
  background-color: #f5f5f7;
}
.config {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  height: 44px;
  background-color: #f5f5f7;
}
header {
  background-color: #f5f5f7cc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", serif;
}
.nav_items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  text-decoration: none;
  padding: 10px;
}
.banner {
  height: 60px;
  justify-content: space-between;
  background-color: #ffff;
}

.store {
  height: 585px;
  position: relative;
}
.flex {
  display: flex;
  gap: 32px;
}
.rainbow {
  display: inline;
  font-weight: 700;
  font-size: 44px;

  color: transparent;
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #5a50ec 50%,
    #f24179 100%,
    #e43a3a,
    #f25f36
  );
  background-clip: text;
}
.gift {
  font-weight: 700;
  font-size: 44px;
  color: #6e6e73;
}
.support {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 50px;
  gap: 10px;
}
.woman {
  height: 35px;
  width: 35px;
  background: url("./IMG/supwo.jpg") center/cover;
  position: absolute;
  left: 970px;
  top: 130px;
}
.weight {
  font-weight: 700;
  font-size: 14px;
}
.blue {
  color: #0066cc;
  text-decoration: underline;
}
.products {
  display: flex;
  position: absolute;
  top: 400px;
}
.product {
  height: 78px;
  width: 120px;
  background: var(--prod-image) center/cover no-repeat;
}
