@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+IN:wght@100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
}
.main:hover {
  opacity: 0.7;
}
.nav_items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  text-decoration: none;
  padding: 10px;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.menu {
  display: none;
}
.hconfig {
  width: 100vw;
  height: 692px;
  justify-content: center;
  text-align: center;
  font-family: "inter", serif;
  padding-top: 50px;
}
.hero {
  background: url("./IMG/Figure.png") center/cover no-repeat;
}
.promo {
  color: white;
  font-size: 52px;
}
.up {
  color: white;
  font-weight: 400;
  font-size: 24px;
}
.longbutton {
  background-color: #0071e3;
  border-radius: 50px;
  padding: 12px 20px 12px 20px;
  color: white;
  border: 1px blue;
}
.shortbutton {
  opacity: 100%;
  border-radius: 50px;
  padding: 12px 20px 12px 20px;
}

.white-text {
  color: white;
}

.sidekick {
  background: url("./IMG/Figure (1).png") center/cover no-repeat;
}
.thirdhero {
  width: 100vw;
  height: 692px;
  gap: 10px;
  background: url("./IMG/Figure (2).png") center/cover no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
  font-family: "inter", serif;
}
.gif {
  font-size: 52px;
  font-weight: 600;
}

.black-text {
  color: black;
}

.mb {
  margin-bottom: 10px;
}
.ml {
  margin-left: 10px;
}

.transparent {
  background-color: transparent;
  border: 2px blue solid;
}
.sixpack {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 580px);
  gap: 10px;
}
.config {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.family {
  font-family: "inter", serif;
}
.first {
  height: 580px;
  background: url("./IMG/Figure (3).png") center/cover no-repeat;
}
.pad {
  font-family: "inter", serif;
  font-weight: 700;
  font-size: 32px;
}
.air {
  font-weight: 400;
  font-size: 32px;
  background: linear-gradient(90deg, #0090f7 0%, #3b3bd6cc);
  background-clip: text;
  color: transparent;
  font-family: "Playwrite", sans-serif;
  margin-left: 10px;
}
.flex {
  display: flex;
}
.rainbow {
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  padding-top: 360px;
  color: transparent;
}
.second {
  height: 580px;
  background: url("./IMG/Figure (4).png") center/cover no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  color: white;
}
.third {
  height: 580px;
  background: url("./IMG/Figure (5).png") center/cover no-repeat;
}
.wa {
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
}
.ser {
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.classic {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.fourth {
  height: 580px;
  background: url("./IMG/Figure (6).png") center/cover no-repeat;
}
.book {
  font-family: "inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
}
.mchip {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.fifth {
  height: 580px;
  background: url("./IMG/Figure (7).png") center/cover no-repeat;
}

.sixth {
  height: 580px;
  background: url("./IMG/Figure (8).png") center/cover no-repeat;
}
.slid {
  gap: 20px;
  width: 100vw;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  scrollbar-width: none;
  margin-top: 20px;
}
.cate {
  width: 1250px;
  height: 668px;
  flex-shrink: 0;
  background: url("./IMG/036fa4ebdb97754279e6264a8511c26a.jpeg");
}
.moon {
  width: 1250px;
  height: 668px;
  flex-shrink: 0;
  background: url("./IMG/6c1f9e35f8cfc952ddd2340d8debbb86.jpeg");
}
.gun {
  width: 1250px;
  height: 668px;
  flex-shrink: 0;
  background: url("./IMG/cffc7341eddba9393942d27673a1bb78.jpeg");
}
.blue-text {
  color: #0090f7;
}
.overlay {
  gap: 20px;
  width: 100vw;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  scrollbar-width: none;
  margin-top: 20px;
}
.kitty {
  width: 417px;
  height: 236px;
  background: url("./IMG/834x472.jpg") center/cover;
  flex-shrink: 0;
}
.basket {
  width: 417px;
  height: 236px;
  background: url("./IMG/834x472 (2).jpg") center/cover;
  flex-shrink: 0;
}
.illust {
  width: 417px;
  height: 236px;
  background: url("./IMG/834x472 (1).jpg") center/cover;
  flex-shrink: 0;
}
.forsmalldevs {
  display: none;
}
.device {
  display: none;
}
@media only screen and (max-width: 833px) {
  .forsmalldevs {
    width: 100vw;
    height: 44px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 10px;
  }
  .space {
    margin-left: auto;
  }
  .nav_items {
    display: none;
  }
  .sixpack {
    display: none;
  }
  .hero {
    background: url("./IMG/pad.png") center/cover no-repeat;
  }
  .sidekick {
    background: url("./IMG/side.png") center/cover no-repeat;
  }
  .device {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 580px);
    gap: 10px;
  }
  .first {
    background: url("./IMG/black.jpg") center/cover no-repeat;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  .aid {
    font-size: 18px;
  }
  .watch {
    background: url("./IMG/watch.jpg") center/cover no-repeat;
  }
  .third {
    background: url("./IMG/dd.jpg") center/cover no-repeat;
  }
  .fourth {
    background: url("./IMG/aa.png") center/cover no-repeat;
  }
  .fifth {
    width: 366px;
    height: 490px;
    background: url("./IMG/www.jpg") center/cover no-repeat;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .sixth {
    background: url("./IMG/ra.jpg") center/cover no-repeat;
  }
}

@media only screen and (max-width: 390px) {
  .nav_items {
    display: none;
  }
  .forsmalldevs {
    width: 100vw;
    height: 48px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 10px;
  }
  .sixpack {
    display: none;
  }
  .device {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 580px);
    gap: 10px;
  }
  .space {
    margin-left: auto;
  }
  .hero {
    width: 100vw;
    height: 692px;
    background: url("./IMG/Figure11.png") center/cover no-repeat;
  }
  .sidekick {
    background: url("./IMG/gas.jpg") center/cover no-repeat;
  }
}
