@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+IN:wght@100..400&display=swap");
header {
  background-color: #f5f5f7cc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", serif;
}
.nav_items {
  display: flex;
  gap: 20px;
  text-decoration: none;
  padding: 10px;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.menu {
  display: none;
}

.hero {
  width: 100vw;

  background: url("./IMG/Figure.png") center/cover no-repeat;
  justify-content: center;
  text-align: center;
  font-family: "inter", serif;
}
.promo {
  color: white;
  font-weight: 600;
  font-size: 52px;
}
.up {
  color: white;
  font-weight: 400;
  font-size: 24px;
}
.longbutton {
  background-color: #0071e3;
  border-radius: 50px;
  padding: 12px 20px 12px 20px;
  color: white;
  border-color: solid #0071e3;
}
.shortbutton {
  opacity: 100%;
  border-radius: 50px;
  padding: 12px 20px 12px 20px;
}

.white-text {
  color: white;
}

.sidekick {
  background: url("./IMG/Figure (1).png") center/cover no-repeat;
  width: 100vw;
  justify-content: center;
  text-align: center;
  font-family: "inter", serif;
}
.thirdhero {
  width: 100vw;
  gap: 10px;
  background: url("./IMG/Figure (2).png") center/cover no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
  font-family: "inter", serif;
}
.gif {
  font-size: 52px;
  font-weight: 600;
}

.black-text {
  color: black;
}

.mb {
  margin-bottom: 10px;
}
.ml {
  margin-left: 10px;
}

.transparent {
  background-color: transparent;
  border: 2px blue solid;
}
.sixpack {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 580px);
  gap: 10px;
}
.config {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.family {
  font-family: "inter", serif;
}
.first {
  height: 580px;
  background: url("./IMG/Figure (3).png") center/cover no-repeat;
}
.pad {
  font-family: "inter", serif;
  font-weight: 400;
  font-size: 42px;
}
.second {
  display: flex;
  justify-content: flex-end;
}

.air {
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
}
.rainbow {
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  padding-top: 360px;
}
.second {
  height: 580px;
  background: url("./IMG/Figure (4).png") center/cover no-repeat;
}
.third {
  height: 580px;
  background: url("./IMG/Figure (5).png") center/cover no-repeat;
}
.fourth {
  height: 580px;
  background: url("./IMG/Figure (6).png") center/cover no-repeat;
}
.fifth {
  height: 580px;
  background: url("./IMG/Figure (7).png") center/cover no-repeat;
}
.sixth {
  height: 580px;
  background: url("./IMG/Figure (8).png") center/cover no-repeat;
}
.slid {
  gap: 20px;
  width: 100vw;
  display: flex;
  overflow-x: scroll;
}
.cate {
  width: 1250px;
  height: 668px;
  background: url("./IMG/036fa4ebdb97754279e6264a8511c26a.jpeg");
}
.moon {
  width: 1250px;
  background: url("./IMG/6c1f9e35f8cfc952ddd2340d8debbb86.jpeg");
}
.gun {
  width: 1250px;
  background: url("./IMG/cffc7341eddba9393942d27673a1bb78.jpeg");
}
@media only screen and (max-width: 768px) {
  .nav_items {
    display: none;
  }
  .menu {
    display: block;
  }
  .hero {
    background: url("./IMG/Figure@2x.png") center/cover no-repeat;
  }
}

@media only screen and (max-width: 390px) {
  .nav_items {
    display: none;
  }
  .menu {
    display: block;
  }
  .hero {
    width: 100vw;
    height: 692px;
    background-image: url("./IMG/Figure11.png") center/cover no-repeat;
  }
}
